<!-- SWITCH-TO: ../../webroot/page_js/
--> 
<include:file="../al_common/header.html">

<script type="text/javascript" src="/js/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/javascript" src="/page_js/enum_map.js"></script>
<script type="text/javascript" src="/page_js/question_edit_lesson_note.js"></script>
<script type="text/javascript" src="/page_js/mathjax_editor.js"></script>
<script type="text/javascript" src="/js/qiniu/plupload/plupload.full.min.js"></script>
<script type="text/javascript" src="/js/qiniu/plupload/i18n/zh_CN.js"></script>
<script type="text/javascript" src="/js/qiniu/ui.js"></script>
<script type="text/javascript" src="/js/qiniu/qiniu.js"></script>
<script type="text/javascript" src="/js/qiniu/highlight/highlight.js"></script>
<script type="text/javascript" src="/js/jquery.md5.js"></script>
<script type="text/javascript" src="/js/jquery.admin.js"></script>
<section class="content">
    <div class="row">
        <div class=" col-md-3">
            <div class="row">
                <div class="input-group ">
                    <span >类型</span>
                    <select class="form-control"  id="id_grade"></select>
                    <span>-</span>
                    <select class="form-control" id="id_subject" ></select>
                    <span>-</span>
                    <select class="form-control" id="id_audit" >
                        <option value="-1">[全部]</option>
                        <option value="0">未审核</option>
                        <option value="1">已审核</option>
                    </select>
                    <span class="note_count"></span>
                </div>
            </div>
            <div id="id_note_list_div">
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">

                <div class="col-md-5" style="padding-left:0;margin-bottom:10px;">
                    <div class="input-group ">
                        <span>标题</span>
                        <input id="id_note_title" value="" type="text"/>
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="input-group ">
                        <button type="button" id="id_add_title_info" class="btn btn-primary">新增</button>
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="input-group ">
                        <button type="button" id="id_update_title_info" data-id="" class="btn btn-primary">修改</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <table   class="table table-bordered table-striped"   >
                    <tr>
                        <td>统计,总共:</td><td id="id_question_all"> </td> 
                        <td>未审核:</td><td id="id_post"> </td>
                        <td>审核-0%:</td><td id="id_pass"> </td>
                        <td>审核-10%:</td><td  id="id_pass_1" > </td>
                        <td>审核-50%:</td><td id="id_pass_5" > </td>
                        <td>审核-100%:</td><td id="id_pass_10" > </td>
                        <td>审核-不通过:</td><td id="id_pass_del" > </td>
                    </tr>
                </table>
            </div>

            <div id="id_edit_content"></div>
            <br/>
            <!--
            <div align="center" >
                <button type="button" class="btn btn-primary" id="id_commit_note_info" >提交</button>
            </div>
            -->
            <table id="id_lesson_note_list" class="table table-bordered table-hover" style="margin-top:5px" >
                
            </table>
            <div id="id_page_info"> </div>
        </div>
    </div>

