<!-- SWITCH-TO: ../../webroot/page_js/
--> 
<include:file="../al_common/header.html" />
<script type="text/javascript" src="/question/download_note_name_js"></script>
<script type="text/javascript" src="/page_js/question_publish.js"></script>
<script type="text/javascript" src="/js/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<section class="content">
    <div class="row">

        <div class="col-xs-12 col-md-2">
            <div class="input-group ">
                <span class="input-group-addon">分类</span>
                <select class="c_sel form-control " id="id_opt_type" >
                    <option value ="1,2,3,4,5,6">所有</option>
                    <option value ="2,3,4,5">已发布 </option>
                    <option value ="2,3,4,5,6">已审核</option>
                    <option value ="1">未审核</option>
                </select>
            </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="input-group ">
                <span >录入日期</span>
                <input type="text" id="id_start_date" class="c_sel"/>
                <span >-</span>
                <input type="text" id="id_end_date" class="c_sel"/>
            </div>
        </div>
        
        <div class="col-xs-6 col-md-3">
            <div class="input-group ">
                <span class="input-group-addon">年级</span>
                <select class="c_sel form-control " id="id_grade" >
                </select>
                <span class="input-group-addon">科目</span>
                <select class="c_sel form-control " id="id_subject" >
                </select>
            </div>
        </div>


        <div class="col-xs-12 col-md-1">
            <div class="input-group ">
                <input type="text" id="id_question_id"  placeholder="问题id" />
            </div>
        </div>

        <div class="col-xs-6 col-md-2">
            <div class="input-group-btn">
                <button id="id_note_info" type="submit" class="btn btn-primary">知识点筛选</button>
                <span id="id_note_list_info" data-note_id_list=""></span>
            </div>
        </div>
        <!--
        <div class="col-xs-6 col-md-3">
            <a id="id_question_publish" class="btn btn-warning"><i></i>发布</a>
        </div>
        -->
    </div>
    <hr/>
    <table class="table table-bordered table-hover"   >
        <thead>
            <tr>
                <td class=" remove-for-not-xs  " ></td>
                <td style="display:none;" >序号</td>
                <td >状态</td>
                <td >录入者</td>
                <td >年级</td>
                <td >科目</td>
                <td >知识点</td>
                <td >类型</td>
                <td >难度</td>
                <td >问题</td>
                <td >答案</td>
                <td >审核者</td>
                <td class=" remove-for-xs  " >操作</td>
            </tr>
        </thead>
        <tbody>
            <foreach name="table_data_list" key="key" var="var">
				<tr class="opt-edit-record">
                    <include: file="../al_common/td_xs_opt.html" />
                    <td style="display:none;" >[$var.id]</td>
                    <td class="opt-td-check_flag"  data-v="[$var.check_flag]" ></td>
                    <td >[$var.adminid]</td>
                    <td >[$var.grade_str]</td>
                    <td >[$var.subject_str]</td>
                    <td class="opt-td-note" data-note_id_list="[$var.note]" ></td>
                    <td >[$var.question_type_str]</td>
                    <td >[$var.difficulty_str]</td>
                    <td class="opt-q" >[$var.q]</td>
                    <td >[$var.a]</td>
                    <td >[$var.check_userid]</td>
                    <td class="remove-for-xs">
                        <div class="btn-group" data-questionid="[$var.id]"  >
                            <a href="javascript:;" class="btn  fa fa-info td-info "></a>
                            <a href="javascript:;" class="btn fa fa-list-alt   opt-show" title="查看"> </a>
                        </div>
                    </td>

				</tr>
			</foreach>
        </tbody>
    </table>
    <include:file="../al_common/page.html">
        





