<div class="table-responsive box " >
  <table class=" table table-striped table-bordered vue-table ">
    <thead>
      <tr >
        <td class="remove-for-not-xs" style="display: none;"> </td>
        <td v-if="multi_select" style="width:20px"  >
          <a href="javascript:;" title="全选" @click="opt_multi_select_all">全 </a>
          <a href="javascript:;" title="反选" @click="opt_multi_select_other">反 </a>
        </td>
        <slot name="th"></slot>

        <td v-for="field_info in real_table_config.field_list"
          v-if="check_show(field_info)"
          v-bind:data-field_name="field_info.order_field_name"
        >

          <span v-html="field_info.title"> </span>
          <a v-if="field_info.order_field_name" class="fa td-sort-item "

            v-bind:class="get_sort_class(field_info)" href="javascript:;" @click="do_sort" > </a>
        </td>

        <td class="remove-for-xs" >操作
          <div  style="float:right ">
          <a href="javascript:; "  class="fa fa-list" title=" 列显示配置" @click="config_field_list($event)"  ></a>
          <a href="javascript:; "  style="margin-left:10px" class="fa fa-download" title="下载" @click="download($event )"  ></a>
        </div >

        </td>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(item,index) in table_data ">
        <td class="remove-for-not-xs" style="display: none;">

          <a class="fa  fa-cog" style="font-size:25px" href="javascript:;" @click="show_as_list($event, item,index)" > </a>
        </td>
        <td v-if="multi_select" style="width:20px"  >
          <input type="checkbox" class="multi-select-item"  v-bind:data-index="index" v-bind:checked="false" />
        </td>

        <td v-for="field_info in real_table_config.field_list "
          v-if="check_show(field_info)"
          v-html="field_render(item,  field_info,index)"></td>
        <td class="remove-for-xs"  >
          <div>
            <a href="javascript:;" class="btn  fa fa-cog td-info " title="竖向显示" @click="show_as_list($event, item,index)"></a>
            <a v-for="opt_info in real_table_config.row_opt_list " v-if="check_need_power(opt_info.need_power)"  class="fa btn " v-bind:class="[opt_info.face_icon]"  @click="opt_info.on_click($event,item)" v-bind:title="opt_info.title"  > {{opt_info.text}} </a>
          </div>
        </td>
      </tr>
      <slot ></slot>
    </tbody>
  </table>
</div>
