app/Enums/*.php
app/Models/Zgen/*
app/Models/.*
app/Http/Controllers/ControllerEx.php
app/Http/Controllers/.*
app/Http/Controllers/ControllerEnums.php
old
public/page_js/enum_map.js
public/page_ts/.*
storage
core
f
q
enum_config/enum_map.js
table_config/.*.temp
common_app/*
*#*
.*
node_modules/
fonts/
tmp/
