/*
 * Skin: Blue
 * ----------
 */
.skin-teacher .main-header .navbar {
  background-color: #fff;
}
.skin-teacher .main-header .navbar .nav > li > a {
    font-size: 20px;
    color: #333;
}

.skin-teacher .main-header .navbar .nav > li > a:hover,
.skin-teacher .main-header .navbar .nav > li > a:active,
.skin-teacher .main-header .navbar .nav > li > a:focus,
.skin-teacher .main-header .navbar .nav .open > a,
.skin-teacher .main-header .navbar .nav .open > a:hover,
.skin-teacher .main-header .navbar .nav .open > a:focus,
.skin-teacher .main-header .navbar .nav > .active > a {
    background: #DEF4FF;
}
.skin-teacher .main-header .navbar .sidebar-toggle {
    padding: 5px 5px;
    font-size: 30px;
    color: #0B91FF;
}
.skin-teacher .main-header .navbar .sidebar-toggle:hover {
  background-color: #DEF4FF;
}

@media (max-width: 767px) {
  .skin-teacher .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-teacher .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-teacher .main-header .navbar .dropdown-menu li a:hover {
    background-color: #0B91FF;
  }

}


.skin-teacher .main-header .logo {
  background-color: #FFF;
  color: #0B91FF;
  font-size:30px;
  border-bottom: 0 solid transparent;
  height : 58px;
}
.skin-teacher mini.sidebar-collapse .main-header .logo > .logo-mini > b  {
    font-size:30px;
}
.skin-teacher .main-header .logo:hover {
    /*background-color: #357ca5;*/
}
.skin-teacher .main-header li.user-header {
  background-color: #DEF4FF;
}
.skin-teacher .content-header {
  background: transparent;
}
.skin-teacher .wrapper,
.skin-teacher .main-sidebar,
.skin-teacher .left-side {
  background-color: #0B91FF;
}

.skin-teacher .main-sidebar,
.skin-teacher .left-side {
    font-size : 20px;
}

.skin-teacher .user-panel > .info,
.skin-teacher .user-panel > .info,
.skin-teacher .user-panel > .info > a {
  color: #fff;
}
.skin-teacher .sidebar-menu > li > a > .fa, .sidebar-menu > li > a > .glyphicon, .sidebar-menu > li > a > .ion {
    width: 28px;
}
.skin-teacher .sidebar-menu > li.header {
  color: #4b646f;
  background: #1a2226;
}
.skin-teacher .sidebar-menu > li > a {
  border-left: 3px solid transparent;
}

.skin-teacher .sidebar-menu  li:hover > a,
.skin-teacher .sidebar-menu > li.active > a
{
    border-left-color: #fff;
    background-color: #39BFF8 ;
}
.skin-teacher .sidebar-menu   {
    border-left-color: #fff;
}

.skin-teacher .sidebar  {
    margin-top:8px;

}
@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .main-header .logo > .logo-mini {
	      font-size: 30px;
    }
}

.skin-teacher .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
}

.skin-teacher .sidebar-menu > li    .pull-right-container {
    height :32px;
}
.skin-teacher .treeview-menu > li > a {
    font-size:18px;
}
.skin-teacher .treeview-menu {
    /*padding-left: 0px; */
}

.skin-teacher .treeview-menu > li > a {
    padding-left:40px;
}

.skin-teacher .sidebar a {
  color: #ffffff;
}

.skin-teacher .sidebar a:hover {
  text-decoration: none;
}
.skin-teacher .sidebar-menu .treeview-menu > li.active > a,
.skin-teacher .sidebar-menu .treeview-menu > li > a:hover,
.skin-teacher .sidebar-menu .treeview > a:hover
{
    background-color: #3bb1ff;
    border-left-color: #fff;
}

.skin-teacher .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.skin-teacher .sidebar-form input[type="text"],
.skin-teacher .sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
}
.skin-teacher .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-teacher .sidebar-form input[type="text"]:focus,
.skin-teacher .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-teacher .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-teacher .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-teacher.layout-top-nav .main-header > .logo {
  background-color: #0B91FF;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-teacher .layout-top-nav .main-header > .logo:hover {
  background-color: #3b8ab8;
}


.skin-teacher .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #ddd;
}

.skin-teacher .table-bordered {
    border: 1px solid #ddd;
}

.skin-teacher .treeview-menu{
    padding-left:0;
}
.skin-teacher .main-sidebar{
    background: -webkit-linear-gradient(#0b91ff , #0bceff); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#0b91ff , #0bceff); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#0b91ff , #0bceff); /* Firefox 3.6 - 15 */
    background: linear-gradient(#0b91ff , #0bceff); /* 标准的语法 */
}

.skin-teacher .progress{
    height:7px;
    margin-top:5px;
}
