/*
 * Skin: Blue
 * ----------
 */
.skin-teacher .main-header .navbar {
  background-color: #fff;
}
.skin-teacher .main-header .navbar .nav > li > a {
    font-size: 20px;
    color: #333;
}

.skin-teacher .main-header .navbar .nav > li > a:hover,
.skin-teacher .main-header .navbar .nav > li > a:active,
.skin-teacher .main-header .navbar .nav > li > a:focus,
.skin-teacher .main-header .navbar .nav .open > a,
.skin-teacher .main-header .navbar .nav .open > a:hover,
.skin-teacher .main-header .navbar .nav .open > a:focus,
.skin-teacher .main-header .navbar .nav > .active > a {
    background-color: #DEF4FF;
}
.skin-teacher .main-header .navbar .sidebar-toggle {
    padding: 5px 5px;
    font-size: 30px;
    color: #0B91FF;
}
.skin-teacher .main-header .navbar .sidebar-toggle:hover {
  background-color: #DEF4FF;
}

@media (max-width: 767px) {
  .skin-teacher .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-teacher .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-teacher .main-header .navbar .dropdown-menu li a:hover {
    background-color: #0B91FF;
  }

}


.skin-teacher .main-header .logo {
  background-color: #FFF;
  color: #0B91FF;
  font-size:30px;
  border-bottom: 0 solid transparent;
  height : 58px;
}
.skin-teacher mini.sidebar-collapse .main-header .logo > .logo-mini > b  {
    font-size:30px;
}
.skin-teacher .main-header .logo:hover {
    /*background-color: #357ca5;*/
}
.skin-teacher .main-header li.user-header {
  background-color: #DEF4FF;
}
.skin-teacher .content-header {
  background: transparent;
}
.skin-teacher .wrapper,
.skin-teacher .main-sidebar,
.skin-teacher .left-side {
  background-color: #0B91FF;
}

.skin-teacher .main-sidebar,
.skin-teacher .left-side {
    font-size : 20px;
}

.skin-teacher .user-panel > .info,
.skin-teacher .user-panel > .info,
.skin-teacher .user-panel > .info > a {
  color: #fff;
}
.skin-teacher .sidebar-menu > li > a > .fa, .sidebar-menu > li > a > .glyphicon, .sidebar-menu > li > a > .ion {
    width: 28px;
    height: 28px;
}
.skin-teacher .sidebar-menu > li.header {
  color: #4b646f;
  background-color: #1a2226;
}
.skin-teacher .sidebar-menu > li > a {
  border-left: 3px solid transparent;
  opacity:0.6;
}

.skin-teacher .sidebar-menu  li:hover > a,
.skin-teacher .sidebar-menu > li.active > a
{
    border-left-color: #fff;
    background-color: #3bb1ff;
    opacity:1;
}
.skin-teacher .sidebar-menu   {
    border-left-color: #fff;
}

.skin-teacher .sidebar  {
    margin-top:8px;

}
@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .main-header .logo > .logo-mini {
	      font-size: 30px;
    }
}

.skin-teacher .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
}

.skin-teacher .sidebar-menu > li    .pull-right-container {
    height :32px;
}
.skin-teacher .treeview-menu > li > a {
    font-size:18px;
    opacity:0.6;
}
.skin-teacher .treeview-menu {
    /*padding-left: 0px; */
}

.skin-teacher .treeview-menu > li > a {
    padding-left:40px;
}

.skin-teacher .sidebar a {
  color: #ffffff;
}

.skin-teacher .sidebar a:hover {
  text-decoration: none;
  background-color: #3bb1ff;

}
.skin-teacher .sidebar-menu .treeview-menu > li > a{
    background-color: #0b91ff;
}
.skin-teacher .sidebar-menu .treeview-menu > li.active > a,
.skin-teacher .sidebar-menu .treeview-menu > li > a:hover,
.skin-teacher .sidebar-menu .treeview > a:hover
{
    background-color: #3bb1ff;
    border-left-color: #fff;
    opacity:1;
}

.skin-teacher .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.skin-teacher .sidebar-form input[type="text"],
.skin-teacher .sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
}
.skin-teacher .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-teacher .sidebar-form input[type="text"]:focus,
.skin-teacher .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-teacher .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-teacher .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-teacher.layout-top-nav .main-header > .logo {
  background-color: #0B91FF;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-teacher .layout-top-nav .main-header > .logo:hover {
  background-color: #3b8ab8;
}

.skin-teacher .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #ddd;
}

.skin-teacher .table-bordered {
    border: 1px solid #ddd;
}

.skin-teacher .treeview-menu{
    padding-left:0;
}
/* .skin-teacher .main-sidebar{ */
/*     background: -webkit-linear-gradient(#0b91ff , #0bceff); /\* Safari 5.1 - 6.0 *\/ */
/*     background: -o-linear-gradient(#0b91ff , #0bceff); /\* Opera 11.1 - 12.0 *\/ */
/*     background: -moz-linear-gradient(#0b91ff , #0bceff); /\* Firefox 3.6 - 15 *\/ */
/*     background: linear-gradient(#0b91ff , #0bceff); /\* 标准的语法 *\/ */
/* } */

.skin-teacher .progress{
    height:7px;
    margin-top:5px;
}

.skin-teacher .ft14{
    font-size:14px;
}
.skin-teacher .ft24{
    font-size:24px;
}
.skin-teacher .ft18{
    font-size:18px;
}
.skin-teacher .ft14{
    font-size:14px;
}
.skin-teacher .text-cen{
    text-align:center;
}
.skin-teacher .text-top{
    vertical-align:top;
}
.skin-teacher .r-border{
    border-right:1px solid #ccc;
}
.skin-teacher .bor-hr{
    border-top:1px solid #ccc;
    margin-bottom:10px;
}
.skin-teacher .color-9{
    color:#999;
}
.skin-teacher .color-red{
    color:red;
}
.skin-teacher .color-blue{
    color:#00A6FF;
}
.skin-teacher .color-lyblue{
    color:#0bceff;
}
.skin-teacher .bg-set-blue{
    background-color:#00A6ff;
    color:#fff;
}
.skin-teacher .bg-blue{
    background-color:#00A6ff;
}

.skin-teacher .bg-lblue{
    background-color:#E6fAff;
}
.skin-teacher .bg-linfo{
    background-color:#42b2ff;
}

.skin-teacher .color-fff{
    color:#fff
}
.skin-teacher .bg-lgreen{
    background-color:#36d68f;
}
.skin-teacher .bg-lpro{
    background-color:#6c86e1;
}
.skin-teacher .bg-lyellow{
    background-color:#ef7d50;
}
.skin-teacher .bor-rds{
    border-radius:5px;
}
.skin-teacher .div-bank{
    width:60%;
    margin:50px auto;
}
.skin-teacher .btn-bank{
    display:block;
    width:100%;
}
.skin-teacher .flag-baes td{
    width:30%;
    text-align:center;
}
.skin-teacher input{
    border:0 solid #fff;
    width:100%;
    height:100%;
}
.skin-teacher .li-section{
    padding:20px 20px;
}
.skin-teacher .bor-hr{
    border-top:1px solid #ccc;
    margin-bottom:10px;
}
.skin-teacher .direct-chat-messages {
    overflow:hidden;
}
.skin-teacher .direct-chat-contacts{
    background-color:#fff;
    color:#000;
}
.skin-teacher .small-box{
    height:100px;
}
.skin-teacher .box-top-ly{
	  border-top:3px solid #00A6FF;
}
.skin-teacher .box-info-ly{
	  border-top:3px solid #00A6FF;
}
.skin-teacher .text-color-ly{
	  color: #00A6FF;
}
.skin-teacher .btn-info-ly{
	  background-color:#00A6FF;
	  color: #FFFFFF;
}

.skin-teacher .opt-set,.opt-show{
	  background-color:#00A6FF;
}
.skin-teacher button[opt-upload]{
	  background-color:#00A6FF;
}

.skin-teacher .main-header .navbar .sidebar-toggle{
    color:#0bceff;
}


.skin-teacher .btn-info:hover{
    background-color:#0094e3;
}
.skin-teacher .btn-info{
    border:none;
    background-color:#00A6FF;
}

.skin-teacher .logo-lg,.logo-mini{
    margin-top:5px;
}
.skin-teacher .btn-info:active,.btn-info:focus{
    background-color:#00A6FF;
}

.skin-teacher .btm{
    bottom:0;
}

.skin-teacher .bootstrap-dialog.type-primary .modal-header{
    background-color:#fff;
}
.skin-teacher .bootstrap-dialog.type-primary .modal-content{
	  border-top:3px solid #00A6FF;
    border-radius:3px;
}
.skin-teacher .bootstrap-dialog.type-primary .bootstrap-dialog-title{
    color:#00a6ff;
    font-size:20px;
    font-weight:600;
}

.skin-teacher .Btnsty_peyton{
    width:66px;
}
.skin-teacher .modal-footer .margin-lr-20{
    margin-left:20px;
    margin-right:20px;
}
.skin-teacher .pad-l-5{
    padding-left:5px;
}

#face{
    cursor:pointer;
}
