
.skin-teacher .ft14{
    font-size:14px;
}
.skin-teacher .ft24{
    font-size:24px;
}
.skin-teacher .ft18{
    font-size:18px;
}
.skin-teacher .ft14{
    font-size:14px;
}
.skin-teacher .text-cen{
    text-align:center;
}
.skin-teacher .text-top{
    vertical-align:top;
}
.skin-teacher .r-border{
    border-right:1px solid #ccc;
}
.skin-teacher .bor-hr{
    border-top:1px solid #ccc;
    margin-bottom:10px;
}
.skin-teacher .color-9{
    color:#999;
}
.skin-teacher .color-red{
    color:red;
}
.skin-teacher .color-blue{
    color:#00A6FF;
}
.skin-teacher .bg-set-blue{
    background:#00A6ff;
    color:#fff;
}
.skin-teacher .bg-blue{
    background:#00A6ff;
}

.skin-teacher .bg-lblue{
    background:#E6fAff;
}
.skin-teacher .bg-linfo{
    background:#42b2ff;
}

.skin-teacher .color-fff{
    color:#fff
}
.skin-teacher .bg-lgreen{
    background:#36d68f;
}
.skin-teacher .bg-lpro{
    background:#6c86e1;
}
.skin-teacher .bg-lyellow{
    background:#ef7d50;
}
.skin-teacher .bor-rds{
    border-radius:5px;
}
.skin-teacher .div-bank{
    width:60%;
    margin:50px auto;
}
.skin-teacher .btn-bank{
    display:block;
    width:100%;
}
.skin-teacher .flag-baes td{
    width:30%;
    text-align:center;
}
.skin-teacher input{
    border:0 solid #fff;
    width:100%;
    height:100%;
}
.skin-teacher .li-section{
    padding:20px 20px;
}
.skin-teacher .bor-hr{
    border-top:1px solid #ccc;
    margin-bottom:10px;
}
.skin-teacher .direct-chat-messages {
    height: 180px;
    overflow:hidden;
}
.skin-teacher .direct-chat-contacts{
    height:180px;
    background:#fff;
    color:#000;
}
.skin-teacher .small-box{
    height:100px;
}
.skin-teacher .box-top-ly{
	  border-top:3px solid #00A6FF;
}
.skin-teacher .box-info-ly{
	  border-top:3px solid #00A6FF;
}
.skin-teacher .text-color-ly{
	  color: #00A6FF;
}
.skin-teacher .btn-info-ly{
	  background-color:#00A6FF;
	  color: #FFFFFF;
}

.skin-teacher .opt-set,opt-upload,opt-show{
	  background-color:#00A6FF;
}
.skin-teacher .main-header .navbar .sidebar-toggle{
    color:#0bceff;
}
.skin-teacher .main-header .navbar .sidebar-toggle:hover{
    color:#def4ff;
}


