.ft14{
    font-size:14px;
}
.ft24{
    font-size:24px;
}
.ft18{
    font-size:18px;
}
.ft14{
    font-size:14px;
}
.text-cen{
    text-align:center;
}
.text-top{
    vertical-align:top;
}
.r-border{
    border-right:1px solid #ccc;
}
.bor-hr{
    border-top:1px solid #ccc;
    margin-bottom:10px;
}
.color-9{
    color:#999;
}
.color-red{
    color:red;
}
.color-blue{
    color:#00A6FF;
}
.bg-set-blue{
    background:#00a6ff;
    color:#fff;
}
.bg-blue{
    background:#00a6ff;
}
.bg-lblue{
    background:#e6faff;
}
.bg-linfo{
    background:#42b2ff;
}

.color-fff{
    color:#fff
}
.bg-lgreen{
    background:#36d68f;
}
.bg-lpro{
    background:#6c86e1;
}
.bg-lyellow{
    background:#ef7d50;
}
.bor-rds{
    border-radius:5px;
}
.div-bank{
    width:60%;
    margin:50px auto;
}
.btn-bank{
    display:block;
    width:100%;
}
.flag-baes td{
    width:30%;
    text-align:center;
}
input{
    border:0 solid #fff;
    width:100%;
    height:100%;
}
.li-section{
    padding:20px 20px;
}
.bor-hr{
    border-top:1px solid #ccc;
    margin-bottom:10px;
}
.direct-chat-messages {
    height: 180px;
    overflow:hidden;
}
.direct-chat-contacts{
    height:180px;
    background:#fff;
    color:#000;
}
.small-box{
    height:100px;
}
.box-top-ly{
	  border-top:3px solid #00A6FF;
}
.box-info-ly{
	  border-top:3px solid #00A6FF;
}
.text-color-ly{
	  color: #00A6FF;
}
.btn-info-ly{
	  background-color:#00A6FF;
	  color: #FFFFFF;
}

