<section class="content ">
  <div id="id_header_query_info" > </div>

  <hr/>

  <table class="common-table" >
    <thead>
      <tr>
        <td>id</td>
        <td>用户名</td>
        <td>真实姓名</td>
        <td style="display:none;">电子邮箱</td>
        <td>手机号</td>
        <td>角色</td>
        <td>权限组</td>
        <td>创建者</td>
        <td>是否转正</td>
        <td style="display:none;">微信openid</td>
        <td >上级</td>
        <td >微信号/姓名</td>
        <td > 状态</td>
        <td >每天新例子 </td>
        <td > 咨询师权限等级/不参与升级</td>
        <td > 入职时间</td>
        <td > 离职时间</td>
        <td > 打电话账号</td>
        <td>操作</td>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(item, index) in table_data" >
        <td>{{item.uid}}</td>
        <td>{{item.account}}</td>
        <td>{{item.name}}</td>
        <td >{{item.email}}</td>
        <td>{{item.phone}}</td>
        <td>{{item.account_role_str}}</td>
        <td>{{item.permission}}</td>
        <td>{{item.creater_admin_nick}}</td>
        <td>{{item.become_full_member_flag_str}}</td>
        <td>{{item.wx_openid}}</td>
        <td>{{item.up_admin_nick}}</td>
        <td> {{item.wx_id}} /{{item.nickname}}</td>
        <td>{{item.del_flag_str}}</td>
        <td>{{item.day_new_user_flag_str}}</td>
        <td>{{item.seller_level_str}}/{{item.no_update_seller_level_flag_str}}</td>
        <td>{{item.become_time}}</td>
        <td>{{item.leave_time}}</td>
        <td>{{item.tquin}}</td>
        <td  >
          <div v-bind:data-index="index" >
            <a href="javascript:;" title="编辑" class="fa fa-edit edit-manage" @click="opt_edit_manage"></a>

            <a href="javascript:;" v-if="check_show('opt_admin')" title="设置角色" class="fa fa-venus-double set-account-role" @click="opt_set_account_role"></a>
            <a href="javascript:;" title="绑定微信账号" class="fa fa-link opt_set_openid" @click="opt_set_openid"></a>
            <a href="javascript:;" title="更改员工状态" class="fa fa-trash-o  opt-del" @click="opt_del"></a>
            <a href="javascript:;"   v-if="check_show('opt_admin')" title="更改权限组" class="fa fa-hand-o-up opt-power" @click="opt_power"></a>
            <a href="javascript:;"  v-if="check_show('opt_admin')"  title="用此账号登录" class="opt-login" @click="opt_login">登录</a>
            <a href="javascript:;" title="修改账号"
              class="fa fa-gears opt-change-account" @click="opt_change_account"> </a>
            <a href="javascript:;" title="同步考勤" class="fa fa-refresh opt-sync-kaoqin  " @click="opt_sync_kaoqin" > </a>
            <a href="javascript:;" title="邮箱配置" class="opt-email" @click="opt_email"> 邮箱 </a>
            <a href="javascript:;" title="设置全职老师类型" class="opt-set-fulltime-teacher-type" @click="opt_set_fulltime_teacher_type" > 全</a>
            <a href="javascript:;" title="生成学生和家长账号" class="opt-set-user-phone" @click="opt_set_user_phone" >生成账号</a>
            <a href="javascript:;" title="生成助教账号" class="opt-gen-ass" @click="opt_gen_ass"  >助</a>
            <a href="javascript:;" title="用户操作日志" class="opt-log" @click="opt_log" >log</a>
            <a href="javascript:;" title="刷新回访" class="opt-refresh_call_end" @click="opt_refresh_call_end" >刷新回访</a>
            <a href="javascript:;" title="同步老师入职时间" class="opt-set-train-through-time" @click="opt_set_train_through_time">同</a>
            <a href="javascript:;" title="修改老师等级"  @click="opt_set_teacher_level">等</a>
            <a href="javascript:;" v-if="check_show('opt_admin')"  title="权限删除测试"  @click="opt_delete_permission">权限删除测</a>
            <a href="javascript:;" v-if="check_show('opt_admin')"  title="权限备份互换"  @click="opt_change_permission_new">权限更换</a>
            <a href="javascript:;" v-if="check_show('opt_admin')"  title="个人拥有权限" @click="opt_ower_permission">个人权限</a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</section>
